# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\prg3\bhmDB2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
